---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CentralizarProcesos from "../components/CentralizarProcesos.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";

import { seed } from "../../seed/seed";
import { getTranslation } from "../i18n";

const pathname = Astro.url.pathname;
const t = getTranslation(pathname);
---

<Layout
  title={seed.home.layout.title}
  description={seed.home.layout.description}
>
  <Header t={t} />
  <main>
    <Hero t={t} />
    <Features t={t} />
    <CentralizarProcesos t={t} />
    <Testimonials t={t} />
  </main>
  <Footer t={t} />
</Layout>
