---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import { seed } from "../../seed/seed";
import { fetchEquipo } from "../../seed/about-us";

const equipo = await fetchEquipo();
seed.aboutUs.liderTeam.data = equipo;
---

<Layout title="Sobre Nosotros - TTN Company" >
  <Header />
  <main>
    <HeroSection
      img={seed.aboutUs.heroSection.img}
      title={seed.aboutUs.heroSection.title}
      description={seed.aboutUs.heroSection.description}
    />

    <section
      class="py-16 bg-white dark:bg-gray-800 translate-y-10 transition-all duration-700 fade-in-on-scroll"
    >
      <div class="container-custom">
        <div class="grid md:grid-cols-2 gap-12 items-center mb-24">
          <div>
            <span
              class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4"
            >
              {seed.aboutUs.history.badge}
            </span>
            <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-6">
              {seed.aboutUs.history.title}
            </h2>
            <p class="text-gray-600 dark:text-gray-300 mb-4 text-justify">
              {seed.aboutUs.history.initialDescription}
              <br />
              <br />
              {seed.aboutUs.history.endDescription}
            </p>
          </div>
          <div class="rounded-lg overflow-hidden shadow-xl">
            <img
              src={seed.aboutUs.history.image}
              alt={seed.aboutUs.history.imageAlt}
              class="rounded-lg w-full h-auto hover:shadow-lg transition-all duration-300 animate-fade-in hover:scale-[0.98]"
            />
          </div>
        </div>

        <div class="mb-24">
          <div class="text-center mb-12">
            <span
              class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4"
            >
              {seed.aboutUs.values.badge}
            </span>
            <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-4">
              {seed.aboutUs.values.title}
            </h2>
            <p class="text-gray-600 dark:text-gray-300 max-w-3xl mx-auto">
              {seed.aboutUs.values.description}
            </p>
          </div>

          <div class="grid md:grid-cols-3 gap-8">
            {
              seed.aboutUs.values.data.map((value) => (
                <div
                  class="card p-6 border border-gray-200 dark:border-gray-700 hover:shadow-lg transition-all duration-300 animate-fade-in hover:scale-[1.02]"
                >
                  <div
                    class="rounded-full bg-primary-100 dark:bg-primary-900 p-3 w-12 h-12 flex items-center justify-center mb-4"
                  >
                    <svg
                      class="w-6 h-6 text-primary-600 dark:text-primary-400"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                      ></path>
                    </svg>
                  </div>
                  <h3
                    class="text-xl font-semibold text-accent-500 dark:text-white mb-2"
                  >
                    {value.title}
                  </h3>
                  <p class="text-gray-600">
                    {value.description}
                  </p>
                </div>
              ))   
            }
          </div>
        </div>

        <div class="mb-24">
          <div class="text-center mb-24">
            <span
              class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4"
            >
              {seed.aboutUs.liderTeam.badge}
            </span>
            <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-4">
              {seed.aboutUs.liderTeam.title}
            </h2>
            <p class="text-gray-600 dark:text-gray-300 max-w-3xl mx-auto">
              {seed.aboutUs.liderTeam.description}
            </p>
          </div>

          <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10 gap-y-24">
            {
              seed.aboutUs.liderTeam.data.map((item) => (
                <div class="relative w-full h-72 bg-gradient-to-br from-accent-600 to-primary-500 text-white rounded-xl p-6 pt-20 flex flex-col justify-between items-center shadow-xl transition-transform duration-500 hover:scale-[1.08]">

                  <div class="absolute -top-14 w-28 h-28 rounded-full bg-white flex items-center justify-center shadow-[0_0_10px_0px_rgba(0,0,0,0.1)] z-20">
                    <div class="w-24 h-24 rounded-full overflow-hidden border-white">
                      <img
                        alt={item.nombre}
                        class="w-full h-full object-cover object-top"
                        src={item.url_image}
                      />
                    </div>
                  </div>

                  <!-- Contenido dentro de la tarjeta -->
                  <h3 class="text-xl font-bold tracking-wide text-center uppercase z-10">{item.nombre}</h3>

                  <p class="text-sm text-center leading-relaxed font-light italic opacity-90 mt-2 z-10 px-2">
                    {item.descripcion}
                  </p>

                  <p class="text-xs mt-2 tracking-widest font-semibold uppercase z-10">{item.cargo}</p>
                </div>

              ))
            }

          </div>
        </div>

        <div class="text-center flex flex-col items-center gap-6 mb-10">
          <h3
            class="text-3xl font-semibold text-accent-500 dark:text-white"
          >
            Únete a nuestro equipo
          </h3>
          <a href="/career" class="btn-primary">Ver vacantes abiertas</a>
          <p class="text-gray-600 dark:text-gray-300 mb-8 max-w-2xl mx-auto">
            Siempre buscamos personas con talento que compartan nuestra pasión
            por la innovación y la excelencia. Consulta nuestras vacantes
            actuales y únete a nuestra misión.
          </p>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
