---
import OpenPositions from "../components/OpenPositions.tsx";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import { seed } from "../../seed/seed";
import ToastProvider from "../components/ToastProvider";
---

<Layout
  title={seed.career.layout.title}
  description={seed.career.layout.description}
>
  <Header />
  <main>
    <HeroSection
      img={seed.career.heroSection.img}
      title={seed.career.heroSection.title}
      description={seed.career.heroSection.description}
    />

    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">
        <!-- otras secciones omitidas -->

        <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-8">
          {seed.career.openPositions.title}
        </h2>

        <OpenPositions client:load data={seed.career.openPositions.data} />
        <ToastProvider client:only="react" />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
