---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import HeroSection from "../../components/HeroSection.astro";
import { seed } from "../../../seed/seed";
---

<Layout
  title={seed.products.layout.title}
  description={seed.products.layout.description}
>
  <Header />
  <main>
    <HeroSection
      img={seed.products.heroSection.img}
      title={seed.products.heroSection.title}
      description={seed.products.heroSection.description}
    />

    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">
        <div class="mb-24">
          <div class="grid gap-12 mb-12">
            {
              seed.products.data.map((product, index) => (
                <div class="grid md:grid-cols-2 gap-12 items-center mb-12">
                  {index % 2 === 0 ? (
                    <>
                      {/* Contenido primero */}
                      <div>
                        <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
                          {product.category}
                        </span>
                        <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-4">
                          {product.highlight}
                        </h2>
                        <p class="text-accent-500 dark:text-gray-300 mb-6">
                          {product.description}
                        </p>
                        <div class="flex flex-wrap gap-4 mb-6">
                          {product.subservices.map((subservice, i) => (
                            <div class="flex items-center">
                              <svg
                                class="w-5 h-5 text-primary-600 dark:text-primary-400 mr-2"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  stroke-width="2"
                                  stroke-linejoin="round"
                                  d="M5 13l4 4L19 7"
                                />
                              </svg>
                              <span class="text-gray-700 dark:text-gray-300">
                                {subservice}
                              </span>
                            </div>
                          ))}
                        </div>
                        <a
                          href={`/products/${product.slug}`}
                          class="btn-primary"
                        >
                          Conoce más
                        </a>
                      </div>
                      {/* Imagen */}
                      <div
                        class={`rounded-lg overflow-hidden flex flex-col ${product.slug === "biowel" ? "gap-8" : ""}`}
                      >
                        <img
                          alt={product.alt}
                          src={product.imageTitle}
                          class="w-1/2 h-8 m-auto"
                        />
                        <img
                          src={product.image}
                          alt={product.alt}
                          class="w-full h-full"
                        />
                      </div>
                    </>
                  ) : (
                    <>
                      {/* Imagen primero */}
                      <div
                        class={`rounded-lg overflow-hidden flex flex-col ${product.slug === "biowel" ? "gap-8" : ""}`}
                      >
                        <img
                          alt={product.alt}
                          src={product.imageTitle}
                          class="w-1/2 h-8 m-auto"
                        />
                        <img
                          src={product.image}
                          alt={product.alt}
                          class="w-full h-full"
                        />
                      </div>

                      {/* Contenido */}
                      <div>
                        <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
                          {product.category}
                        </span>
                        <h2 class="text-3xl font-bold text-accent-500 dark:text-white mb-4">
                          {product.highlight}
                        </h2>
                        <p class="text-accent-500 dark:text-gray-300 mb-6">
                          {product.description}
                        </p>
                        <div class="flex flex-wrap gap-4 mb-6">
                          {product.subservices.map((subservice, i) => (
                            <div class="flex items-center">
                              <svg
                                class="w-5 h-5 text-primary-600 dark:text-primary-400 mr-2"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M5 13l4 4L19 7"
                                />
                              </svg>
                              <span class="text-gray-700 dark:text-gray-300">
                                {subservice}
                              </span>
                            </div>
                          ))}
                        </div>
                        <a
                          class="btn-primary"
                          href={`/products/${product.slug}`}
                        >
                          Conoce más
                        </a>
                      </div>
                    </>
                  )}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
<Footer />
